.header .navbar{

    background-color:#3c8dbc;
    color:#FFF;
}
.header .navbar ul {

    list-style: none;
padding-left: 0;
overflow: hidden;
}
.header .navbar ul li {
    float: left;
    padding: 10px;

    list-style: none;
   
}